// -----------------------------------------
// Colors: Define all colors for easy access
// -----------------------------------------

// Navigation Colors
$COLOR_NAV_BACKGROUND: #D8E1E8;
$COLOR_NAV_PRIMARY: #D8E1E8;
$COLOR_NAV_SECONDARY: #8A9BA8;

// Section Chartographer
$COLOR_SECTION_CHARTOGRAPHER_HEADER_BACKGROUND: #E5BF47;
$COLOR_SECTION_CHARTOGRAPHER_HEADER_PRIMARY: #D4792F;
$COLOR_SECTION_CHARTOGRAPHER_HEADER_SECONDARY: #F2CA4B;
$COLOR_SECTION_CHARTOGRAPHER_CONTENT_BACKGROUND: #FF9945;
$COLOR_SECTION_CHARTOGRAPHER_CONTENT_PRIMARY: #9E5214;

// Section Plottable
$COLOR_SECTION_PLOTTABLE_HEADER_BACKGROUND: #529ECD;
$COLOR_SECTION_PLOTTABLE_HEADER_PRIMARY: #2378AD;
$COLOR_SECTION_PLOTTABLE_HEADER_SECONDARY: #68B6E6;
$COLOR_SECTION_PLOTTABLE_CONTENT_BACKGROUND: #2378AD;
$COLOR_SECTION_PLOTTABLE_CONTENT_PRIMARY: #124C70;

// Section D3
$COLOR_SECTION_D3_HEADER_BACKGROUND: #30404D;
$COLOR_SECTION_D3_HEADER_PRIMARY: #202B33;
$COLOR_SECTION_D3_HEADER_SECONDARY: #202B33;
$COLOR_SECTION_D3_CONTENT_BACKGROUND: #293742;
$COLOR_SECTION_D3_CONTENT_PRIMARY: #5C7080;
