// -----------------------------------------------------------
// Main file: SASS variables, mixins, fonts, and @imports
// -----------------------------------------------------------

/** Imports
 -------------------------------------------------- */
@import "colors";
@import "fonts";
@import "utility";


/** Variables: override bootstrap before include
 -------------------------------------------------- */
$font-size-base: 15px;
$line-height-base: 1.666667;
$line-height-base-px: 23px;
$brand-primary: $COLOR_SECTION_CHARTOGRAPHER_HEADER_PRIMARY;
$screen-md-min: 1024px;
$transition-duration: 200ms;

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-md-min;
//** Point at which the navbar begins collapsing.
//$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


/** Bootstrap/Compass
 -------------------------------------------------- */
@import "bootstrap";
@import "bootstrap-compass";
@import "compass";


/** All includes
 -------------------------------------------------- */
@import "base-class";

// Include style for syntax highlighting
@import "syntax";


/** Style
 -------------------------------------------------- */
body {
  background-color: $COLOR_SECTION_D3_CONTENT_BACKGROUND;
}

aside#main-navigation {
  position: relative;
  float: left;
  width: 260px;
  min-height: 100%;
  color: #30404D;
  background-color: #202B33;
  position: fixed;
  @include box-sizing(border-box);
  @include box-shadow(0px 0px 2px 0px rgba(0,0,0,0.50));
  padding-top: 25px;

  > nav {
    padding-top: 180px;
    padding-left: 30px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: 15px 0;
    color: $COLOR_NAV_BACKGROUND;
    font-family: $font-headers;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    @include util-rem(font-size, 20px);

    .svg & {
      background-image: url(../images/plottable-logo.svg);
    }

    .no-svg & {
      background-image: url(../images/plottable-logo.png);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &.nav {
        // disable default nav stuff
        > li > a {
          padding: 0;

          &:hover {
            background-color: transparent;
          }
        }
      }

      > li {

        &.active {
          > ul {
            display: block;
          }
        }

        > a {
          color: $COLOR_NAV_PRIMARY;
        }

        > ul {
          display: none;
          @include util-rem(font-size, 15px);
          margin-bottom: 10px;

          > li a {
            color: $COLOR_NAV_SECONDARY;
          }
        }
      }
    }
  }

  > footer {
    position: absolute;
    bottom: 20px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    width: 120px;
    height: 31px;
    margin-left: 20px;

    .svg & {
      background-image: url(../images/palantir-logo.svg);
    }

    .no-svg & {
      background-image: url(../images/palantir-logo.png);
    }
  }
}

main#main-content {
  margin-left: 260px;
  font-family: $font-body;
  overflow: hidden;

  section {
    position: relative;

    > header {
      padding: 50px 60px;

      &.is_stuck {
        top: 0;
        z-index: 10;
      }

      > h1 {
        margin: 0;
        font-weight: $font-weight-bold;

        small {
          display: block;
          text-transform: none;
          @include util-rem(font-size, 20px);
        }
      }
    }

    div.content {
      position: relative;
      padding: 45px;
      z-index: 0;
    }


    &#section-chartographer {
      > header {
        background-color: $COLOR_SECTION_CHARTOGRAPHER_HEADER_BACKGROUND;
        color: $COLOR_SECTION_CHARTOGRAPHER_HEADER_PRIMARY;
        > h1 {
          small {
            color: $COLOR_SECTION_CHARTOGRAPHER_HEADER_PRIMARY;
            margin-left: 4px;
          }
        }
      }

      .secondary {
        color: $COLOR_SECTION_CHARTOGRAPHER_HEADER_SECONDARY;
      }

      div.content {
        color: $COLOR_SECTION_CHARTOGRAPHER_CONTENT_PRIMARY;
        background-color: $COLOR_SECTION_CHARTOGRAPHER_CONTENT_BACKGROUND;
      }
    }

    &#section-plottable {
      > header {
        background-color: $COLOR_SECTION_PLOTTABLE_HEADER_BACKGROUND;
        color: $COLOR_SECTION_PLOTTABLE_HEADER_PRIMARY;

        > h1 {
          small {
            color: $COLOR_SECTION_PLOTTABLE_HEADER_PRIMARY;
            margin-left: 2px;
          }
        }
      }

      .secondary {
        color: $COLOR_SECTION_PLOTTABLE_HEADER_SECONDARY;
      }

      div.content {
        color: $COLOR_SECTION_PLOTTABLE_CONTENT_PRIMARY;
        background-color: $COLOR_SECTION_PLOTTABLE_CONTENT_BACKGROUND;
      }
    }

    &#section-d3 {
      > header {
        background-color: $COLOR_SECTION_D3_HEADER_BACKGROUND;
        color: $COLOR_SECTION_D3_HEADER_PRIMARY;
        > h1 {
          small {
            color: $COLOR_SECTION_D3_HEADER_PRIMARY;
            margin-left: 2px;
          }
        }
      }

      .secondary {
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: 0 0;
        display: inline-block;
        width: 53px;

        .svg & {
          background-image: url(../images/d3-logo.svg);
        }

        .no-svg & {
          background-image: url(../images/d3-logo.png);
        }
      }

      div.content {
        color: $COLOR_SECTION_D3_CONTENT_PRIMARY;
        background-color: $COLOR_SECTION_D3_CONTENT_BACKGROUND;
      }
    }

  }

  footer {
    padding: 0 60px 20px;
    color: $COLOR_SECTION_D3_HEADER_PRIMARY;
    background-color: $COLOR_SECTION_D3_CONTENT_BACKGROUND;

    a {
      color: $COLOR_SECTION_D3_HEADER_PRIMARY;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
